*{
    font-family: Poppins;
}

body{
    background-color: #222;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

p{
    color: black;
    background-color:gray;
}

h1{
    background-color: grey;
    color:white;
    width:40px;
    height:20px;
}
footer{
    width: 100vw;
    height: 30vh;
    top:70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footerlokacije{
    display:flex ;
    flex-direction: row;
    width: 70vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    
}
.lokacija{
    color: gray;
    text-decoration: none;
    list-style-type: none;
}
.lokacija-a{
    color: white;
    text-decoration: none;
}