p{
    color: black;
    background-color:gray;
}

footer{
    width: 100vw;
    height: 30vh;
    position:fixed;
    top:80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footerlokacije{
    display:flex ;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    
}
