h3{
    width:86vw;
    height:15vh;
    background-color: #333;
    color:white;
text-align: center;
padding-left: 100px;
padding-right: 100px;
font-size: 50px;
padding-top: 20px;
}
img{
    height:70vh;
    width:70vw;
    padding-left: 200px;
}
p{
    background-color: #333;
    color: white;
    font-size: 25px;
    text-align: center;
}
body{
    background-color: #222;

}
footer{
    color:white;
    padding-left: 120px;
}
h4{
    background-color: white;
    background: #333;
    font-size: 40px;
    text-align: center;
    height:15vh;
    padding-top: 30px;
}